@use "@/styles/ui/mixins/bem" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/spaces" as *;

@include define-block("Pagination") {
  display: inline-flex;
  align-items: center;
  gap: $space-sm;

  &__list {
    display: inline-flex;
    align-items: center;
    gap: $space-sm;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-flex;
    align-items: center;
  }

  &__ellipsis {
    color: var(--color-grey-700);
    padding: 0 $space-xs;
    user-select: none;
    @include text("caption");
  }

  &__btn {
    width: 40px;
    height: 40px;
  }

  // page number button sizing
  &__page {
    min-width: 36px;
    height: 36px;
    padding: 0 $space-xs;
    border-radius: 10px;
    color: var(--color-grey-700);
    border: 1px solid var(--color-grey-100);
    text-align: center !important;

    html[data-theme='dark'] & {
      border: 1px solid var(--color-grey-500);
    }
  }

  &__page--active {
    border: none;
    pointer-events: none;
  }
}
