@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/spaces" as *;
$selector: ".PostItemAuthor";

#{$selector} {
    display: flex;
    align-items: center;
    padding-right: $space-xl;

    &__name {
        padding-left: $space-md;
        color: var(--color-grey-500);
        @include text("base/md");
    }
}
