@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/designsystem/mixins/screens" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/screens" as *;
@use "@/styles/designsystem/config/radials" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("PostItem") {
    &__grid {
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse !important;

        @include screenLargerThan($screen-lg) {
            flex-direction: row-reverse !important;
        }
    }

    &__animation {
        transform: translate(0, 20vh);

        @include screenLargerThan($screen-md) {
            transform: translate(20vh, 0);
        }
    }

    &__headline {
        @include textLineClamp(2);
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__date {
        color: var(--color-grey-300);
        @include text("base");
    }

    &__read__count {
        padding-left: $space-md;
        color: var(--color-grey-300);
        @include text("base");
    }

    &__content {
        display: flex;
        align-items: center;
        @include text("base");

        &__paragraph {
            color: var(--color-grey-500);
            @include textLineClamp(3);
        }
    }

    &__image {
        min-height: 300px;
        object-fit: cover;

        &__wrapper {
            width: 100%;
            min-height: 300px;
            border-radius: $ui-background-border-radius;
            overflow: hidden;
            transform: translate(0, 20vh);
        
            @include screenLargerThan($screen-md) {
                transform: translate(-20vh, 0);
            }
        }

        &__content__wrapper {
            display: block;
        }
    }

    &__button {
        width: 100%;

        &__content {
            justify-content: flex-start;
        }

        @include screenLargerThan($screen-sm) {
            width: auto;
        }
    }
}
