@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Form") {
    &__label {
        padding-bottom: $space-xl;

        &--is-hidden {
            @include hidden();
        }
    }

    &__grid {
        padding: 0 !important;
    }

    &__hp {
        display: none !important;
    }

    &__footer {
        display: flex;
        flex-direction: column;

        &__submit {
            text-align: center !important;
        }
    }
}
