@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/designsystem/mixins/gradients" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/colors" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("List") {
    padding: 0;

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: $space-xs 0;
        color: var(--color-grey-500);
        @include text("base/md");

        & {
            font-weight: 500;
        }

        &--has-icon {
            flex-wrap: nowrap;
        }

        &__card {
            margin: $space-md 0;

            &__content {
                display: flex;
                align-items: center;
                padding: $space-md;
            }
        }

        &__inner {
            width: 100%;
            display: flex;
        }

        &__link {
            @include text('base');

            &__header {
                display: flex;
                align-items: center;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            min-width: 2.5rem;
            height: 2.5rem;
            margin-top: $space-xs;
            margin-right: $space-xs;
            border-radius: 1000rem;
            background-color: var(--color-grey-50);

            html[data-theme='dark'] & {
                background-color: var(--color-grey-400);
            }

            &__wrapper {
                display: flex;
                align-items: center;
                padding-right: $space-sm;
            }
        }

        &__title {
            &--card {
                display: block;
                padding: $space-md 0 $space-xs $space-sm;
                @include text("base/md");
                & {
                    font-weight: 500;
                }
            }
        }

        &__content {
            width: calc(100% - $space-2xl);
        }

        &__desc {
            color: var(--color-grey-600);
            margin: 0;
            padding: $space-xs 0;
            display: block;
            width: 100%;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3; /* Limits the content to 3 lines */
            overflow: hidden;
            text-overflow: ellipsis; /* Adds the ellipsis at the end */
            word-wrap: break-word;
            @include text("base");

            &--card {
                padding-top: 0;
                padding-left: $space-sm;
            }
        }

        &--is-clickable {
            cursor: pointer;
            color: var(--color-grey-500);

            a {
                @include text("base/md");
                & {
                    font-weight: 500;
                }
            }

            @include when-hovered() {
                span[role="presentation"] {
                    color: var(--color-primary-500);
                }

                .list-title {
                    @include gradientTextVar(primary);
                }
            }

            &--inherit {
                @include when-hovered() {
                    color: var(--color-primary-500);
                }
            }

            &--primary {
                color: var(--color-primary-500);
            }
        
            &--secondary {
                color: var(--color-secondary-500);
            }

            &--info {
                color: var(--color-grey-300);
            }

            &--success {
                color: var(--color-success);
            }
            
            &--warning {
                color: var(--color-warning);
            }

            &--error {
                color: var(--color-error);
            }
        
            &--white {
                color: var(--color-white);
        
                @include when-hovered() {
                    color: var(--color-white);
                }
            }
        
            &--primary,
            &--secondary,
            &--success,
            &--error,
            &--info,
            &--warning {
                @include when-hovered() {
                    color: var(--color-grey-500);
                }
            }
        }

        &--card {
            display: block;
            text-decoration: none;
        }
    }
}
