@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Grid") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: $space-lg;
}
