@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/designsystem/mixins/gradients" as *;
@use "@/styles/designsystem/mixins/screens" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/colors" as *;
@use "@/styles/designsystem/config/screens" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Switch") {
  position: relative;
  display: flex;
  align-items: center;

  &__label {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
    padding-bottom: 0;

    @include screenLargerThan($screen-md) {
      grid-template-columns: 80% 20%;
    }

    @include screenLargerThan($screen-lg) {
      grid-template-columns: 90% 10%;
    }

    &__content {
      padding-right: $space-lg;
    }
  }

  &__control {
    position: relative;
    width: 42px;
    height: 26px;
    min-width: 42px;
    background-color: var(--color-grey-500);
    border-radius: 13px;
    transition: background-color 0.3s ease;

    @include when-focused-within() {
      @include use-custom-focus-outline();
      border-radius: 13px;
    }

    &--checked {
      @include gradientBorderVar(4);
    }

    &--disabled {
      background-color: var(--color-grey-300);
      cursor: not-allowed;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 2; /* over track but under thumb */
  }

  &__thumb {
    position: absolute;
    top: 50%;
    left: 2px; /* default (unchecked) */
    width: 22px;
    height: 22px;
    background-color: $white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 3; /* always on top */

    /* If checked, shift thumb to the right */
    &--checked {
      transform: translateY(-50%) translateX(13px);
      left: 5px;
    }

    &--disabled {
      background-color: var(--color-grey-200);
    }

    & {
      /* Center child icon */
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }

  &__icon__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    &--primary { color: var(--color-primary-500); }
    &--secondary { color: var(--color-secondary-500); }
    &--success { color: var(--color-success); }
    &--error { color: var(--color-error); }
    &--info { color: var(--color-grey-300); }
    &--warning { color: var(--color-warning); }
  }

  &__track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-grey-300);
    border-radius: 13px;
    transition: background-color 0.3s ease;
    z-index: 1;

    &--checked { background-color: var(--color-primary-500); }
    &--disabled { background-color: var(--color-grey-200); }
  }
}