@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/radials" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("PostWidgetCarousel") {
    &__card {
        padding-bottom: 0;
    }

    &__carousel {
        position: relative;
        margin-top: $space-xl;
        

        &__wrapper {
            padding-bottom: $space-lg;
        }

        &__item {
            &__image__link {
                position: relative;
                width: 100%;
                height: clamp(180px, 30vw, 420px);
                display: block;
                line-height: 0;
                border-radius: $ui-image-border-radius;
                overflow: hidden;
            }

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &__container {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            &__link {
                position: relative;
                display: block;
            }
        }

        &__dots {
            margin-top: 0;
        }

        &__buttons {
            position: absolute;
            bottom: $space-md;
            right: $space-sm;
            display: flex;
            flex-direction: row;
            max-width: 100px;
            gap: $space-sm;
            z-index: 2;
        }
    }

    &__headline {
        
        margin-top: $space-md !important;
        @include textLineClamp(2);
    }
}