@use "./designsystem/config/colors" as *;
@use "./designsystem/config/elevation" as *;

// Default variables (Light Theme)
:root {
  --color-white: #{$white};
  --color-black: #{$black};

  // Light theme greys
  --color-grey-50: #{$light--grey-50};
  --color-grey-100: #{$light--grey-100};
  --color-grey-200: #{$light--grey-200};
  --color-grey-300: #{$light--grey-300};
  --color-grey-400: #{$light--grey-400};
  --color-grey-500: #{$light--grey-500};
  --color-grey-600: #{$light--grey-600};
  --color-grey-700: #{$light--grey-700};
  --color-grey-800: #{$light--grey-800};
  --color-grey-900: #{$light--grey-900};

  // Light theme primary
  --color-primary-20: #{$white};
  --color-primary-40: #{$white};
  --color-primary-50: #{$light--primary-50};
  --color-primary-100: #{$light--primary-100};
  --color-primary-200: #{$light--primary-200};
  --color-primary-300: #{$light--primary-300};
  --color-primary-400: #{$light--primary-400};
  --color-primary-500: #{$light--primary-500};
  --color-primary-600: #{$light--primary-600};
  --color-primary-700: #{$light--primary-700};
  --color-primary-800: #{$light--primary-800};
  --color-primary-900: #{$light--primary-900};

  // Light theme secondary
  --color-secondary-50: #{$light--secondary-50};
  --color-secondary-100: #{$light--secondary-100};
  --color-secondary-200: #{$light--secondary-200};
  --color-secondary-300: #{$light--secondary-300};
  --color-secondary-400: #{$light--secondary-400};
  --color-secondary-500: #{$light--secondary-500};
  --color-secondary-600: #{$light--secondary-600};
  --color-secondary-700: #{$light--secondary-700};
  --color-secondary-800: #{$light--secondary-800};
  --color-secondary-900: #{$light--secondary-900};

  // Light theme other colors
  --color-success: #{$light--success};
  --color-warning: #{$light--warning};
  --color-error: #{$light--error};

  // Elevations
  --elevation-1: #{$elevation-1--light};
  --elevation-1--inset: #{$elevation-1--light--inset};
  --elevation-1--text: #{$elevation--text-1--light};
  --elevation-2: #{$elevation-2--light};
  --elevation-3: #{$elevation-3--light};
  --elevation-5: #{$elevation-5--light};

  --inner-elevation-1: #{$inner-elevation-1--light};
  --inner-elevation-2: #{$inner-elevation-2--light};
  --inner-elevation-3: #{$inner-elevation-3--light};

  // Background Gradients
  --gradient-background-primary-secondary: linear-gradient(112.34deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-background-primary-grey-secondary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-primary-800) 50%, var(--color-secondary-500) 100%);
  --gradient-background-grey-1: linear-gradient(180deg, var(--color-white) -9.57%, var(--color-grey-50) 102.02%);
  --gradient-background-grey-2: linear-gradient(180deg, var(--color-grey-50) -9.57%, var(--color-white) 102.02%);
  --gradient-background-radial-grey-1: radial-gradient(55.8% 55.8% at 50% 46.23%, #F0F0F0 0%, var(--color-white) 100%);
  --gradient-background-inherit: linear-gradient(112deg, var(--color-grey-50) 0%, var(--color-grey-100) 100%);
  --gradient-background-primary: linear-gradient(112deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-background-secondary: linear-gradient(112deg, var(--color-secondary-500) 0%, var(--color-primary-500) 100%);
  --gradient-background-info: linear-gradient(112deg, var(--color-grey-100) 0%, var(--color-grey-200) 50%, var(--color-grey-300) 100%);
  --gradient-background-success: linear-gradient(112deg, #20E381 0%, #20E381 50%, #10CCB8 100%);
  --gradient-background-warning: linear-gradient(112deg, #FFCC00 0%, #CCA300 100%);
  --gradient-background-error: linear-gradient(112deg, #EB5550 0%, #DB4A46 50%, #FF4444 100%);

  // Border Gradients
  --gradient-border-1: linear-gradient(180deg, var(--color-secondary-500) 0%, var(--color-primary-500) 100%);
  --gradient-border-2: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-3: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-4: linear-gradient(112.34deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-5: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-6: linear-gradient(90deg, var(--color-secondary-500) 4.63%, var(--color-primary-500) 100%);
  --gradient-border-7: linear-gradient(90deg, var(--color-primary-500), var(--color-secondary-500), var(--color-primary-500));
  --gradient-border-8: linear-gradient(90deg, var(--color-grey-100) 4.63%, var(--color-grey-300) 100%);

  // Text Gradients
  --gradient-text-primary-secondary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-primary-800) 50%, var(--color-secondary-500) 100%);
  --gradient-text-primary-secondary-primary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 50%, var(--color-primary-500) 100%);
  --gradient-text-primary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-grey-400) 100%);
  --gradient-text-grey: linear-gradient(90deg, var(--color-grey-300) 0%, var(--color-grey-600) 100%);
  --gradient-text-success: linear-gradient(#20E381, #20E381, #10CCB8);
  --gradient-text-warning: linear-gradient(#FFCC00, #CCA300);
  --gradient-text-error: linear-gradient(#6c4d4c, #984b47, #c52a2a);
}
  
  // Dark Theme Variables
:root[data-theme='dark'] {
  --color-white: $black;
  --color-black: #{$dark--grey-900};

  // Dark theme greys mapped to CSS variables
  --color-grey-50: #{$light--grey-900};
  --color-grey-100: #{$light--grey-800};
  --color-grey-200: #{$light--grey-700};
  --color-grey-300: #{$light--grey-600};
  --color-grey-400: #{$light--grey-500};
  --color-grey-500: #{$light--grey-400};
  --color-grey-600: #{$light--grey-300};
  --color-grey-700: #{$light--grey-200};
  --color-grey-800: #{$light--grey-100};
  --color-grey-900: #{$light--grey-50};

  // Dark theme primary colors
  --color-primary-20: #{$light--primary-950};
  --color-primary-40: #{$light--primary-920};
  --color-primary-50: #{$light--primary-900};
  --color-primary-100: #{$light--primary-800};
  --color-primary-200: #{$light--primary-700};
  --color-primary-300: #{$light--primary-600};
  --color-primary-400: #{$light--primary-400};
  --color-primary-500: #{$light--primary-500};
  --color-primary-600: #{$light--primary-300};
  --color-primary-700: #{$light--primary-200};
  --color-primary-800: #{$light--primary-100};
  --color-primary-900: #{$light--primary-50};

  --color-secondary-50: #{$light--secondary-900};
  --color-secondary-100: #{$light--secondary-800};
  --color-secondary-200: #{$light--secondary-700};
  --color-secondary-300: #{$light--secondary-600};
  --color-secondary-400: #{$light--secondary-400};
  --color-secondary-500: #{$light--secondary-500};
  --color-secondary-600: #{$light--secondary-300};
  --color-secondary-700: #{$light--secondary-200};
  --color-secondary-800: #{$light--secondary-100};
  --color-secondary-900: #{$light--secondary-50};

  // Dark theme other colors
  --color-success: #{$dark--success};
  --color-warning: #{$dark--warning};
  --color-error: #{$dark--error};

  // Elevations
  --elevation-1: #{$elevation-1--dark};
  --elevation-1--inset: #{$elevation-1--dark--inset};
  --elevation-1--text: #{$elevation--text-1--dark};
  --elevation-2: #{$elevation-2--dark};
  --elevation-3: #{$elevation-3--dark};
  --elevation-5: #{$elevation-5--dark};

  --inner-elevation-1: #{$inner-elevation-1--dark};
  --inner-elevation-2: #{$inner-elevation-2--dark};
  --inner-elevation-3: #{$inner-elevation-3--dark};

  // Background Gradients
  --gradient-background-primary-secondary: linear-gradient(112.34deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-background-primary-grey-secondary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-primary-600) 50%, var(--color-secondary-500) 100%);
  --gradient-background-grey-1: linear-gradient(180deg, var(--color-white) -9.57%, var(--color-grey-50) 102.02%);
  --gradient-background-grey-2: linear-gradient(180deg, var(--color-grey-50) -9.57%, var(--color-white) 102.02%);
  --gradient-background-radial-grey-1: radial-gradient(55.8% 55.8% at 50% 46.23%, var(--color-grey-100) 0%, #1e1e1e 100%);
  --gradient-background-inherit: linear-gradient(112deg, var(--color-grey-50) 0%, var(--color-grey-100) 100%);
  --gradient-background-primary: linear-gradient(112deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-background-secondary: linear-gradient(112deg, var(--color-secondary-500) 0%, var(--color-primary-500) 100%);
  --gradient-background-info: linear-gradient(var(--color-grey-100), var(--color-grey-200), var(--color-grey-300));
  --gradient-background-success: linear-gradient(#20E381, #20E381, #10CCB8);
  --gradient-background-warning: linear-gradient(#FFCC00, #CCA300);
  --gradient-background-error: linear-gradient(#EB5550, #DB4A46, #FF4444);

  // Border Gradients
  --gradient-border-1: linear-gradient(180deg, var(--color-secondary-500) 0%, var(--color-primary-500) 100%);
  --gradient-border-2: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-3: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-4: linear-gradient(112.34deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-5: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-secondary-500) 100%);
  --gradient-border-7: linear-gradient(180deg, var(--color-grey-400) 0%, var(--color-grey-600) 100%);

  // Text Gradients
  --gradient-text-primary-secondary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-primary-800) 50%, var(--color-secondary-500) 100%);
  --gradient-text-primary: linear-gradient(90deg, var(--color-primary-500) 0%, var(--color-grey-700) 100%);
  --gradient-text-grey: linear-gradient(90deg, var(--color-grey-700) 0%, var(--color-grey-900) 100%);
  --gradient-text-success: linear-gradient(#20E381, #20E381, #10CCB8);
  --gradient-text-warning: linear-gradient(#FFCC00, #CCA300);
  --gradient-text-error: linear-gradient(#6c4d4c, #984b47, #c52a2a);
}