@use "@/styles/designsystem/mixins/gradients" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Label") {
    font-weight: 400;
    display: block;
    @include text("base/md");

    & {
        font-size: 1rem;
    }

    & {
        @include textShadow(1);
    }

    &__highlighted {
        font-style: normal;
        @include gradientTextVar("primary", transparent);

        &--error {
            @include gradientTextVar("error", null);
        }
    }

    &__text {
        color: var(--color-grey-500);
        font-style: normal;

        html[data-theme='dark'] & {
            color: var(--color-grey-700);
        }
    }
}
