@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/radials" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("RichText") {
    &__a {
        color: var(--color-primary-500);
    }

    &__p {
        color: var(--color-grey-500);
        @include text("base");

        & {
            text-align: inherit;
        }

        html[data-theme='dark'] & {
            color: var(--color-grey-700);
        }
    }

    &__pre {
        color: var(--color-grey-500);
        padding: 0;
        border: 1px solid var(--color-grey-200);
        border-radius: $ui-default-border-radius;
        background-color: var(--color-grey-50);
        overflow-x: auto;
        overflow-wrap: break-word;
        @include text("code");

        & {
            text-align: inherit;
        }

        html[data-theme='dark'] & {
            background-color: var(--color-grey-50);
        }
    }

    &__blockquote {
        background-color: var(--color-grey-50);
        border-left: 3px solid var(--color-grey-100);
        padding: 1px $space-lg;
        margin: 0;
    }

    &__image {
        object-fit: cover;
        border-radius: $ui-image-border-radius;

        &__wrapper {
            position: relative;
            display: block;
            width: 100%;
            height: 300px;
            overflow: hidden;
            border-radius: $ui-image-border-radius;
        }
    }

    &__ul,
    &__ol {
        padding: 0;
        list-style-type: none;
    }

    &__li {
        display: flex;
        align-items: flex-start;
        padding-bottom: $space-xs;
        margin-top: 2px;

        &__icon {
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            margin-right: $space-sm;
            padding-top: 2px;
            line-height: 1;
        }

        &__content {
            flex: 1 1 auto;
            min-width: 0;
            overflow-wrap: anywhere;
            display: inline;
        }
    }

    &__ol {
        &__decimal {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19px;
            height: 19px;
            background-color: var(--color-primary-500);
            color: var(--color-white);
            border: 1px solid var(--color-primary-500);
            border-radius: 200px;
            margin-right: $space-sm;
            @include text("caption");

            & {
                text-align: inherit;
            }
        }

        & > li {
            display: -webkit-box;

            icon {
                &--inherit {
                    color: var(--color-grey-900);
                }
                &--primary {
                    color: var(--color-primary-500);
                }
                &--secondary {
                    color: var(--color-secondary-500);
                }
                &--info {
                    color: var(--color-grey-500);
                }
                &--success {
                    color: var(--color-success);
                }
                &--error {
                    color: var(--color-error);
                }
                &--warning {
                    color: var(--color-warning);
                }
                &--white {
                    color: var(--color-white);
                }
            }
        }
    }
}
