@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Icon") {
    display: inline-block;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    --webkit-mask-size: contain;
    --webkit-mask-repeat: no-repeat;
    --webkit-mask-position: center;

    &--primary {
        color: var(--pk-color-brand);

        @include when-hovered() {
            color: var(--pk-color-brand);
        }
    }

    &--secondary {
        color: var(--pk-color-accent);

        @include when-hovered() {
            color: var(--pk-color-accent);
        }
    }

    &--info {
        color: var(--pk-color-muted);

        @include when-hovered() {
            color: var(--pk-color-muted);
        }
    }

    &--success {
        color: var(--pk-color-success);

        @include when-hovered() {
            color: var(--pk-color-success);
        }
    }

    &--warning {
        color: var(--pk-color-warning);

        @include when-hovered() {
            color: var(--pk-color-warning);
        }
    }

    &--error {
        color: var(--pk-color-error);

        @include when-hovered() {
            color: var(--pk-color-error);
        }
    }

    &--white {
        color: var(--pk-palette-white);

        @include when-hovered() {
            color: var(--pk-palette-white);
        }
    }
}
