@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/radials" as *;
@use "@/styles/designsystem/config/colors" as *;
@use "@/styles/designsystem/config/spaces" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Chip") {
  display: inline-flex;
  align-items: center;
  border-radius: $ui-background-border-radius;
  padding: $space-xs $space-md;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: var(--color-grey-500);
  color: var(--color-black);
  @include text("base/md");

  &--is-clickable {
    cursor: pointer;
  }

  &--has-icon {
    padding-right: $space-sm;
  }

  &--filled {
    background-color: inherit;
    color: inherit;

    &--primary {
      background-color: var(--color-primary-500);
      color: var(--color-white);
    }

    &--secondary {
      background-color: var(--color-secondary-500);
      color: var(--color-white);
    }

    &--info {
      background-color: var(--color-grey-300);
      color: var(--color-white);
    }

    &--success {
      background-color: var(--color-success);
      color: var(--color-white);
    }

    &--error {
      background-color: var(--color-error);
      color: var(--color-white);
    }

    &--warning {
      background-color: var(--color-warning);
      color: var(--color-black);
    }
    &--white {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &--outlined {
    border: 1px solid;
    background-color: transparent;
    color: var(--color-black);

    &--primary {
      border-color: var(--color-primary-300);
      color: var(--color-primary-500);
    }
    &--secondary {
      border-color: var(--color-secondary-300);
      color: var(--color-secondary-500);
    }
    &--info {
      border-color: var(--color-grey-300);
      color: var(--color-grey-500);
    }
    &--success {
      border-color: var(--color-success);
      color: var(--color-success);
    }
    &--error {
      border-color: var(--color-error);
      color: var(--color-error);
    }
    &--warning {
      border-color: var(--color-warning);
      color: var(--color-warning);
    }
    &--white {
      border-color: var(--color-white);
      color: var(--color-white);
    }
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100px;
    color: inherit;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    margin-left: 8px;
    transition: color 0.3s ease;
    background-color: var(--color-grey-50);

    &--primary {
      color: var(--color-primary-500);
    }
    &--secondary {
      color: var(--color-secondary-500);
    }
    &--info {
      color: var(--color-grey-500);
    }
    &--success {
      color: var(--color-success);
    }
    &--error {
      color: var(--color-error);
    }
    &--white,
    &--warning {
      color: var(--color-black);
    }
  }
}
