/* Headline.effects.module.scss */
@use "@/styles/designsystem/mixins/gradients" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Headline") {
  /* Highlight-Grundlage */
  &--is-highlighted {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Varianten mit Highlight (mit Gradients/Shadow) */
  &--inherit--highlighted   { @include gradientTextVar("grey"); }
  &--primary--highlighted   { @include gradientTextVar("primary-secondary"); filter: drop-shadow(var(--elevation-1--text)); }
  &--secondary--highlighted { @include gradientTextVar("primary");           filter: drop-shadow(var(--elevation-1--text)); }
  &--success--highlighted   { @include gradientTextVar("success");           filter: drop-shadow(var(--elevation-1--text)); }
  &--warning--highlighted   { @include gradientTextVar("warning");           filter: drop-shadow(var(--elevation-1--text)); }
  &--error--highlighted     { @include gradientTextVar("error");             filter: drop-shadow(var(--elevation-1--text)); }
}
