@use "@/styles/designsystem/mixins/gradients" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/colors" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Headline") {
    margin: 0;
    white-space: pre-line;

    &--is-highlighted {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--primary--highlighted,
    &--secondary--highlighted,
    &--success--highlighted,
    &--warning--highlighted,
    &--error--highlighted {
        filter: drop-shadow(var(--elevation-1--text));
    }

    &--inherit {
        color: var(--color-grey-700);

        &--highlighted {
            @include gradientTextVar("grey");
        }
    }

    &--primary {
        color: var(--color-primary-500);

        &--highlighted {
            @include gradientTextVar("primary-secondary");
        }
    }

    &--secondary {
        color: var(--color-secondary-500);

        &--highlighted {
            @include gradientTextVar("primary");
        }
    }

    &--success {
        color: var(--color-success);

        &--highlighted {
            @include gradientTextVar("success");
        }
    }

    &--info {
        color: var(--color-grey-300);
    }

    &--warning {
        color: var(--color-warning);

        &--highlighted {
            @include gradientTextVar("warning");
        }
    }

    &--error {
        color: var(--color-error);

        &--highlighted {
            @include gradientTextVar("error");
        }
    }

    &--white {
        color: $white;
    }

    &--black {
        color: var(--color-black);
    }

    &--xs {
        @include text('headline/xs');
    }

    &--sm {
        @include text('headline/sm');
    }

    &--md {
        @include text('headline/md');
    }

    &--lg {
        @include text('headline/lg');
    }

    &--xl {
        @include text('headline/2xl');
    }

    &--xxl {
        @include text('headline/3xl');
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}
