@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/ui/mixins/bem" as *;
@use "@/styles/designsystem/mixins/screens" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/designsystem/config/screens" as *;
@use "@/styles/designsystem/config/spaces" as *;

@include define-block("Table") {
  padding-bottom: $space-xl;
  padding-left: calc($space-lg + $space-xs);

  @include screenLargerThan($screen-md) {
    padding-left: 0;
  }
  
  &__container {
    overflow: visible;
  }

  &__headline {
    margin-left: -40px;
  }

  &__content {
    padding-left: $space-xl;
  }

  &__table {
    table-layout: auto;
    border-collapse: collapse;

    &__wrapper {
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__head {
    &__row {
      border-bottom: 1px solid var(--color-grey-200);
    }

    &__cell {
      padding: $space-xl $space-sm;
      font-weight: 500;
      @include text("headline/sm");

      & {
        text-align: center;
      }

      &:first-child {
        color: var(--color-primary-500);
        text-align: left;
      }
    }
  }

  &__body {
    &__row {
      border-bottom: 1px solid var(--color-grey-200);

      &--has-link {
        @include when-hovered() {
          background: var(--color-grey-50);
        }

        @include when-focused() {
          background: var(--color-grey-50);
        }
      }
    }
  }

  &__caption {
    color: var(--color-grey-300);
    text-align: right;
    opacity: 0;
    @include text('caption');
  }
}

@include define-block("TableCell") {
  text-align: center;

  &__inner {
    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $space-xl $space-sm;
    @include text("base");
  }

  &:first-child > span {
    font-weight: 500;
    text-align: left;
    align-items: baseline;
  }

  &__icon {
    padding-bottom: $space-lg;
  }
}