@use "@/styles/ui/mixins/bem" as *;

@include define-block("Avatar") {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    overflow: hidden;
    background-color: transparent;

    &--primary {
        background-color: var(--pk-color-brand);
    }

    &--secondary {
        background-color: var(--pk-color-accent);
    }

    &--info {
        background-color: var(--pk-color-muted);
    }

    &--success {
        background-color: var(--pk-color-success);
    }

    &--warning {
        background-color: var(--pk-color-warning);
    }

    &--error {
        background-color: var(--pk-color-error);
    }

    &--white {
        background-color: var(--pk-palette-white);
    }

    &--inherit {
        color: var(--pk-color-fg);
    }

    &--has-size-xs {
        width: 30px;
        height: 30px;
    }

    &--has-size-sm {
        width: 40px;
        height: 40px;
    }

    &--has-size-md {
        width: 60px;
        height: 60px;
    }

    &--has-size-lg {
        width: 80px;
        height: 80px;
    }

    &--has-size-xl {
        width: 100px;
        height: 100px;
    }

    &__image {
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }

    &__link {
        box-shadow: var(--pk-shadow-sm);
        border-radius: 200px;
    }
}
