// Color tokens reflected from the tokens in figma
// -----------------------------------------------------------------------------

$white: #FFFFFF;
$black: #000000;

$light--grey-50: #F5F5F5;
$light--grey-100: #BCBCBC;
$light--grey-200: #9C9C9C;
$light--grey-300: #7D7D7D;
$light--grey-400: #606060;
$light--grey-500: #4D4D4D;
$light--grey-600: #393939;
$light--grey-700: #2F2F2F;
$light--grey-800: #242424;
$light--grey-900: #121212;

$light--primary-50: #E5EBFF;
$light--primary-100: #C9D8FF;
$light--primary-200: #ACC5FF;
$light--primary-300: #8CB3FF;
$light--primary-400: #64A1FF;
$light--primary-500: #1E90FF; // Original primary
$light--primary-600: #2676d0;
$light--primary-700: #275ea2;
$light--primary-800: #244677;
$light--primary-900: #1e304f;
$light--primary-920: #0f1726;
$light--primary-950: #080c14;

$light--secondary-50: #E6FBFF;
$light--secondary-100: #CCF7FF;
$light--secondary-200: #AFF3FF;
$light--secondary-300: #8EEFFF;
$light--secondary-400: #64EBFF;
$light--secondary-500: #00E6FF; // Original secondary
$light--secondary-600: #1dbcd0;
$light--secondary-700: #2393a2;
$light--secondary-800: #236c77;
$light--secondary-900: #1e484e;

$light--success: #20E381;
$light--warning: #f7b529;
$light--error: #f0453a;

$dark--grey-50: #121212;
$dark--grey-100: #242424;
$dark--grey-200: #2F2F2F;
$dark--grey-300: #393939;
$dark--grey-400: #4D4D4D;
$dark--grey-500: #606060;
$dark--grey-600: #7D7D7D;
$dark--grey-700: #9C9C9C;
$dark--grey-800: #BCBCBC;
$dark--grey-900: #F5F5F5;

$dark--primary-50: #E5EBFF;
$dark--primary-100: #C9D8FF;
$dark--primary-200: #ACC5FF;
$dark--primary-300: #8CB3FF;
$dark--primary-400: #64A1FF;
$dark--primary-500: #1E90FF; // Original primary
$dark--primary-600: #2676d0;
$dark--primary-700: #275ea2;
$dark--primary-800: #244677;
$dark--primary-900: #1e304f;

$dark--secondary-50: #E6FBFF;
$dark--secondary-100: #CCF7FF;
$dark--secondary-200: #AFF3FF;
$dark--secondary-300: #8EEFFF;
$dark--secondary-400: #64EBFF;
$dark--secondary-500: #00E6FF; // Original secondary
$dark--secondary-600: #1dbcd0;
$dark--secondary-700: #2393a2;
$dark--secondary-800: #236c77;
$dark--secondary-900: #1e484e;

$dark--success: #20E381;
$dark--warning: #f7b529;
$dark--error: #f0453a;