// Border sizes and radii
// -----------------------------------------------------------------------------

$ui-default-border-radius: 5px;
$ui-image-border-radius: 13px;
$ui-form-element: 1.5rem;
$ui-background-border-radius: 25px;
