@use "@/styles/designsystem/functions/texts" as *;

// The named spacings:
$space-xs: px-to-rem(4px);
$space-sm: px-to-rem(8px);
$space-md: px-to-rem(12px);
$space-lg: px-to-rem(16px);
$space-xl: px-to-rem(24px);
$space-2xl: px-to-rem(32px);
$space-3xl: px-to-rem(64px);
$space-4xl: px-to-rem(128px);
