@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Image") {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: var(--pk-space-lg);

    &__caption {
        position: absolute;
        width: 100%;
        bottom: calc(-1 * var(--pk-space-lg));
        left: 0;
        opacity: 0.6;
        color: var(--pk-color-fg);
        @include text("caption");

        & {
            text-align: center;
        }
    }
}
