@use "@/styles/ui/mixins/accessibility" as *;
@use "@/styles/designsystem/mixins/texts" as *;
@use "@/styles/ui/mixins/bem" as *;

@include define-block("Link") {
  text-decoration: none;
  cursor: pointer;
  color: var(--pk-link-color);
  @include text("link");

  @include when-hovered() {
    text-decoration: underline;
  }

  &--has-no-background {
    @include when-hovered() {
      text-decoration: underline;
      color: var(--pk-link-color-hover);
    }

    @include when-focused {
      color: var(--pk-link-color-hover);
    }

    &--primary {
      color: var(--pk-link-color-primary);
    }

    &--secondary {
      color: var(--pk-link-color-secondary);
    }

    &--info {
      color: var(--pk-link-color-info);
    }

    &--success {
      color: var(--pk-link-color-success);
    }

    &--warning {
      color: var(--pk-link-color-warning);
    }

    &--error {
      color: var(--pk-link-color-error);
    }

    &--white {
      color: var(--pk-link-color-white);

      @include when-hovered() {
        color: var(--pk-link-color-white);
      }
    }

    &--primary,
    &--secondary,
    &--success,
    &--error,
    &--info,
    &--warning {
      @include when-hovered() {
        color: var(--pk-link-color-variant-hover);
      }

      @include when-focused {
        color: var(--pk-link-color-variant-hover);
      }
    }
  }
}
